* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #ead1cb;
    background: linear-gradient(to bottom, #ead1cb);
    display: flex;
    flex-direction: column;
}

header {
    background: solid, #503850;
    padding: 10px 20px;
    width: 100%;
    justify-content: center;
    display: flex;
}

.nav-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

ul {
    display: flex;
    gap: 1.2rem;
    list-style: none;
}

.Link {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    position: relative;
    font-family: "Mozilla Headline", sans-serif;
    font-size: 20px;
}

.Link:hover::before {
    content: "";
    position:absolute;
    width: 50%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transition: scaleX(1);
    transition: all 0.6s ease;
    background-color:#5a3044;
} 

.Link::before {
    bottom: 0;
    left: 0;
    content: "";
    position:absolute;
    height: 2px;
    width: 0%;
    background-color: #5a3044;
    border-radius: 5px;
    transition: all 0.6s ease;
}

footer {
    background: linear-gradient(90deg, #503850, #5a3044);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, lrf);
    color: #503850;
}

footer ::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    background: rgb(0 0 0 / 10%);
}